{{title}}

{{#each err}}
  <div class="alert alert-danger">{{text}}</div>
{{/each}}

<div class="card card-body">
  <h3>Some Idea</h3>
  <form class="" action="/ideas" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" required>
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      <textarea class="form-control" name="body" rows="8" cols="20" required></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
